<div class="row">
  <aside class="col-md-3">
    <h2>Upcoming Features</h2>
    <ul>
      <li>Dedicated comment sections</li>
    <li>Create admin and employee dashboards</li>
    <li>Update website design and colors</li>
    </ul>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2> Welcome! </h2>
      <p>
        This is an 'Employee Management' application designed to store employee information (including name, address, etc.) and which department they work for. 
      </p>

<p>
  Current features of this applications are as follows:
  <ul>
    <li> Register new users with username, password and email</li>
    <li> Add employees and their information</li>
    <li>Add departments and their information</li>
    <li>Upload pictures in the gallery</li>
    <li>See history of logged in users</li>
  </ul>
</p>
      <p>
        This Application has great scalability capabilities for bigger organizations and the back-end code is written with security in mind (Although it may need regular updates and maintenance). The app is ready for new features such as comment sections, extended employee inforamtion etc.
      </p>
    
    </article>
  </section>
</div>